.body {
	background-color: #ACD5E3;
}

#welcome {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	text-align: center;
}

.field {
	width: 200px;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.button-centre {
	text-align:center;
}

.seperator {
	clear: both;
	padding: 20px;
}

.field-seperator {
	clear: both;
}

.field-title {
	float: left;
}

.field-input {
	float: right;
}

#components {
	padding-top: 200px;
	color: white;
}